### 제 2회 실기 기출

In [1]:
# crim 항목의 상위에서 10번째 값 으로 상위 10개의 값을 변환하고 age 80 이상인 값에 대해하여 crim의 평균
import pandas as pd
from sklearn.datasets import load_boston
import numpy as np

df  = load_boston()
data = pd.DataFrame(data= df.data, columns = df.feature_names)
data["target"]=df.target

data.sort_values("CRIM", ascending=False, inplace=True)
data.reset_index(drop = True, inplace=True)


# CRIM값이 가장 큰 10개의 값중 가장 작은 값 추출
min_crim = data[:10]['CRIM'].min()

# 가장 큰 10개의 값 대체
data.iloc[:10, 0] = min_crim

data_80 = data[data["AGE"]>=80]
print(data_80["CRIM"].mean())

5.759386624999999

In [2]:
# 주어진 데이터의 첫 번째 행부터 순서대로 80%까지의 데이터를 훈련 데이터로 추출 후 total_bedrooms 변수의 결측값을  
# total_bedrooms변수의 중앙값으로 대체하고 대체 전의 total_bedrooms 변수 표준편차 값의 차이의 절대값을 구하시오.

df = pd.read_csv("./datasets/housing.csv")
df_train = df.iloc[:int(0.8*len(df))]
df_train_replace=df_train.fillna(df_train["total_bedrooms"].median())
df_stdev  = np.abs(np.std(df_train_replace["total_bedrooms"])-np.std(df_train["total_bedrooms"]))
print(df_stdev)

1.9749591387375744

In [10]:
# charges 항목의 이상값의 합을 구하시오.
# (이상값은 평균에서 1.5표준편차 이상인 값)
std = np.std(df['total_rooms']) * 1.5

In [13]:
min_std, max_std = df['total_rooms'].mean() - std, df['total_rooms'].mean() + std
result = df.loc[(df['total_rooms'] > max_std) | (df['total_rooms'] < min_std), 'total_rooms'].sum()
print('최종 결과 : ', result)

최종 결과 :  10707239.0

### T1 2회 기출 유형
### 문제 1
* 데이터셋(basic1.csv)의 'f5' 컬럼을 기준으로 상위 10개의 데이터를 구하고,
* 'f5'컬럼 10개 중 최소값으로 데이터를 대체한 후,
* 'age'컬럼에서 80 이상인 데이터의'f5 컬럼 평균값 구하기

### 문제 2
* 데이터셋(basic1.csv)의 앞에서 순서대로 70% 데이터만 활용해서,
* 'f1'컬럼 결측치를 중앙값으로 채우기 전후의 표준편차를 구하고
* 두 표준편차 차이 계산하기

### 문제 3
* 데이터셋(basic1.csv)의 'age'컬럼의 이상치를 더하시오!
* 단, 평균으로부터 '표준편차*1.5'를 벗어나는 영역을 이상치라고 판단함

In [19]:
# 문제 1
import pandas as pd
import numpy as np
dt = pd.read_csv("./data/basic1.csv")
dt1 = dt.sort_values(by="f5", ascending=False)
dt1=dt1.reset_index(drop=True)
dt10=dt1.iloc[:10]
dt10["f5"]=dt10["f5"].apply(lambda x: dt10["f5"].min())
avgs = dt1[dt1["age"]>=80]["f5"].mean()
print(avgs)

# 문제 2

dt70=dt.iloc[:70]
std1= dt70["f1"].std()
dt70["f1"]=dt70["f1"].fillna(dt["f1"].median())
std2 = dt70["f1"].std()
print(std1-std2)

# 문제 3
meanss = dt["age"].mean()
stds = dt["age"].std()
outlier1 = dt[(dt["age"]>meanss+(stds*1.5)) | (dt["age"]<meanss-(stds*1.5))]["age"].sum()
print(outlier1)

62.497747125217394
3.051387966266798
473.5

C:\Users\user\AppData\Local\Temp/ipykernel_11056/1270849813.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dt10["f5"]=dt10["f5"].apply(lambda x: dt10["f5"].min())
C:\Users\user\AppData\Local\Temp/ipykernel_11056/1270849813.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dt70["f1"]=dt70["f1"].fillna(dt["f1"].median())

### T1 예시문제
* 자동차 데이터 셋에서 qsec 컬럼을 Min-Max Scale로 변환 후 0.5보다 큰 값을 가지는 레코드(row) 수를 묻는 문제입니다.

In [112]:
df= pd.read_csv("./datasets/mtcars.csv")
import pandas as pd
import numpy as np
from sklearn.preprocessing import minmax_scale

df['qsec'] = minmax_scale(df['qsec'])
print(sum(df["qsec"]>=0.5))

9

In [2]:
# 문제 2
import pandas as pd
import numpy as np
data = pd.read_csv("./datasets/basic1.csv")
data70 = data.iloc[:70]
data30 = data.iloc[70:]
std1 = data70["f1"].std()
data70["f1"]= data70["f1"].fillna(data70["f1"].median())
std2 = data70["f1"].std()
print(std1-std2)

3.2965018033960725

In [3]:
# 문제 3
std = (data["age"].std())*1.5
mean = data["age"].mean()

minout= mean-std
maxout = mean+std
df[(df["age"]>maxout)|(df["age"]<minout)]["age"].sum()

473.5

### T1-1 이상치(IQR)

* IQR 구하기
* 이상치 데이터 구하기
* 이상치 데이터에서 여성 수 구하기

In [18]:

titanic = pd.read_csv("./datasets/train.csv")

In [19]:
q1 = titanic["Fare"].quantile(0.25)
q3 = titanic["Fare"].quantile(0.75)
IQR = q1=q3

In [13]:
q1-1.5*IQR, q3+1.5*IQR

(-15.5, 77.5)

In [21]:
outdata1 = titanic[titanic["Fare"]<(q1-1.5*IQR)]
outdata2 = titanic[titanic["Fare"]>(q3+1.5*IQR)]
print(sum(outdata2["Sex"]=="female"))

59

### T1-2 
* 주어진 데이터에서 나이 이상치를 찾고 올림, 내림, 버림을 했을때 3가지 모두 이상치 age 평균을 구한 다음 모두 더하여 출력하시오.

In [3]:
import pandas as pd
df = pd.read_csv("./data/basic1.csv")
import numpy as np


# 올림 np.ceil()
# 내림 np.floor()
# 버림 np.trunc()

In [4]:
df.to_csv("인덱스 없는 파일.csv", index=False )

In [26]:
# 소수점 데이터 찾기
df = df[(df['age']-np.floor(df['age']))!= 0]

m_ceil = np.ceil(df['age']).mean()

# 내림
m_floor = np.floor(df['age']).mean()

# 버림
m_trunc = np.trunc(df['age']).mean()

print(m_ceil + m_floor + m_trunc)

69.5

### T1 -3 결측치 처리 
* 주어진 데이터에서 결측치가 80% 이상되는 컬럼 삭제
* 80% 미만인 결측치가 있는 컬럼은 city별 중앙값으로 대체하고 f1컬럼의 평균값 출력하시오.

In [28]:
df = pd.read_csv("./data/basic1.csv")

# 결측 비율 확인 하는 법
# df.isnull().sum()
df.isnull().sum()/df.shape[0]

id      0.00
age     0.00
city    0.00
f1      0.31
f2      0.00
f3      0.95
f4      0.00
f5      0.00
dtype: float64

In [35]:
df.drop(["f3"], axis=1,inplace=True)

In [36]:
# 도시별 중앙값 계산
k,d,b,s = df.groupby('city')['f1'].median()

In [37]:
df['f1'] = df['f1'].fillna(df["city"].map({'서울':s, "경기":k, "부산":b, "대구":d}))
print(df['f1'].mean())

65.52

### T1-6 결측치 제거 및 그룹 합계
* 주어진 데이터 중 basic1.csv에서 'f1'컬럼 결측 데이터를 제거하고, 'city'와 'f2'을 기준으로 묶어 합계를 구하고, 'city가 경기이면서 f2가 0'인 조건에 만족하는 f1 값을 구하시오

In [51]:
df = pd.read_csv("./datasets/basic1.csv")

df.dropna(subset=["f1"], inplace=True)
df.shape

(69, 8)

In [60]:
df2 = df.groupby(["city","f2"]).sum()
print(df2.iloc[0]['f1'])

833.0

### T1-7 값 변경 및 2개 이상의 조건 
* f4'컬럼의 값이 'ESFJ'인 데이터를 'ISFJ'로 대체하고, 
* 'city'가 '경기'이면서 'f4'가 'ISFJ'인 데이터 중 'age'컬럼의 최대값을 출력하시오

In [68]:
df = pd.read_csv("./datasets/basic1.csv")
df["f4"].replace("ESFJ", "ISFJ", inplace=True)
df1 = df[(df["f4"]=="ISFJ") & (df["city"]=="경기")]["age"].max()
print(df1)

90.0

### T1-8 누적합 그리고 보간(결측치 처리)
* 주어진 데이터 셋에서 'f2' 컬럼이 1인 조건에 해당하는 데이터의 'f1'컬럼 누적합을 계산한다. 
* 이때 발생하는 누적합 결측치는 바로 뒤의 값을 채우고, 누적합의 평균값을 출력한다. (단, 결측치 바로 뒤의 값이 없으면 다음에 나오는 값을 채워넣는다)

In [78]:
df = pd.read_csv("./datasets/basic1.csv")
# 누적합 cumsum()
df2 = df[df["f2"]==1]["f1"].cumsum()
df2
df2= df2.fillna(method='bfill')
print(df2.mean())

980.3783783783783

### T1-9 수치형 변수 정규화
* f5 컬럼을 정규화 하고 그 중앙값을 구하시오.

In [5]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
df = pd.read_csv("./data/basic1.csv")
st = StandardScaler()
st.fit(df[["f5"]])
df["f5"]=st.transform(df[["f5"]])
med = df["f5"].median()
print(med)

0.260619629559015

### T1-10 여-존슨과 박스-콕스 변환
* 주어진 데이터에서 20세 이상인 데이터를 추출하고 'f1'컬럼을 결측치를 최빈값으로 채운 후, 
* f1 컬럼의 여-존슨과 박스콕스 변환 값을 구하고, 
* 두 값의 차이를 절대값으로 구한다음 모두 더해 소수점 둘째 자리까지 출력(반올림)하시오

In [95]:
df = pd.read_csv("./datasets/basic1.csv")
df1= df[df["age"]>=20]
df1["f1"].fillna(df["f1"].mode(), inplace=True)

In [99]:
from sklearn.preprocessing import power_transform
# 'f1'데이터 여-존슨 yeo-johnson 값 구하기
df['y'] = power_transform(df[['f1']],standardize=False)
# 'f1'데이터 박스-콕스 box-cox 값 구하기
df['b'] = power_transform(df[['f1']], method='box-cox', standardize=False)
print(round(sum(np.abs(df['y'] - df['b'])),2))

nan

### T1-11 min-max 스케일러
* 주어진 데이터에서 'f5'컬럼을 min-max 스케일 변환한 후, 상위 5%와 하위 5% 값의 합을 구하시오

In [12]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
dt = pd.read_csv("./data/basic1.csv")
mx = MinMaxScaler()
dt["f5"]=mx.fit_transform(dt[["f5"]])
lower = dt["f5"].quantile(0.05)
upper = dt["f5"].quantile(0.95)
print(lower+upper)

1.0248740983597389

### T1-12 상위 10개 하위 10개 차이
* 주어진 데이터에서 상위 10개 국가의 접종률 평균과 하위 10개 국가의 접종률 평균을 구하고, 그 차이를 구하시오.

In [19]:
import pandas as pd
df= pd.read_csv("./data/covid-vaccination-vs-death_ratio.csv")
df=df.sort_values(by="ratio", ascending=False)
gp = df.groupby('country').max()
gp.sort_values(by="ratio", ascending=False, inplace=True)
top = gp.head(10)["ratio"].mean()
bottom = gp.tail(10)["ratio"].mean()
print(top-bottom)

92.21826037146099

### T1-13 상관관계 구하기
* 주어진 데이터에서 상관관계를 구하고, quality와의 상관관계가 가장 큰 값과, 가장 작은 값을 구한 다음 더하시오!
* 단, quality와 quality 상관관계 제외, 소수점 둘째 자리까지 출력

In [26]:
df = pd.read_csv("./data/winequality-red.csv")
dff=df.corr()
dff=dff[:-1]
mx = dff["quality"].max()
mn=dff["quality"].min()
print(round((mx+mn),2))

0.09

### T1-14 2개 조건에 따른 상위 값
* city와 f4를 기준으로 f5의 평균값을 구한 다음, f5를 기준으로 상위 7개 값을 모두 더해 출력하시오.

In [31]:
import pandas as pd
df = pd.read_csv("./data/basic1.csv")
gp=df.groupby(["city","f4"])[["f5"]].mean()
gp.sort_values(by="f5", ascending=False, inplace=True)
sums=gp.head(7)["f5"].sum()
print(sums)

643.6813362975

### T1-15 슬라이싱 & 조건
 * 주어진 데이터 셋에서 age컬럼 상위 20개의 데이터를 구한 다음 
 * f1의 결측치를 중앙값으로 채운다.
 * 그리고 f4가 ISFJ와 f5가 20 이상인 
 * f1의 평균값을 출력하시오!

In [34]:
import pandas as pd
df = pd.read_csv("./data/basic1.csv")
df.sort_values(by="age", ascending=False, inplace=True)
df20= df.head(20)
df20["f1"]=df20["f1"].fillna(df20["f1"].median())
means=df20[(df20["f4"]=="ISFJ")&(df["f5"]>=20)]["f1"].mean()
print(means)

73.875

C:\Users\user\AppData\Local\Temp/ipykernel_2124/2016375046.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df20["f1"]=df20["f1"].fillna(df20["f1"].median())
C:\Users\user\AppData\Local\Temp/ipykernel_2124/2016375046.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  means=df20[(df20["f4"]=="ISFJ")&(df["f5"]>=20)]["f1"].mean()

### T1-16 분산
 * 주어진 데이터 셋에서 f2가 0값인 데이터를 age를 기준으로 오름차순 정렬하고
 * 앞에서 부터 20개의 데이터를 추출한 후 
 * f1 결측치(최소값)를 채우기 전과 후의 분산 차이를 계산하시오 (소수점 둘째 자리까지)

In [38]:
import pandas as pd
df = pd.read_csv("./data/basic1.csv")
dff = df[df["f2"]==0].sort_values(by="age", ascending=True).reset_index(drop=True)
df20=dff.head(20)
var1=df20["f1"].var()
df20["f1"]=df20["f1"].fillna(df20["f1"].min())
var2=df20["f1"].var()
print(round((var1-var2),2))

38.44

C:\Users\user\AppData\Local\Temp/ipykernel_2124/469334868.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df20["f1"]=df20["f1"].fillna(df20["f1"].min())

### T1-17 시계열 데이터
* 2022년 5월 sales의 중앙값을 구하시오

In [5]:
import datetime as dt
import pandas as pd
df= pd.read_csv("./datasets/basic2.csv")
df["Date"]=pd.to_datetime(df["Date"])
df["year"] = df["Date"].dt.year
df["month"]=df["Date"].dt.month

middle= df[(df["year"]==2022)& (df["month"]==5)]["Sales"].median()
print(middle)

1477685.0

### T1-18 시계열 데이터2
* 주어진 데이터에서 2022년 5월 주말과 평일의 sales컬럼 평균값 차이를 구하시오 (소수점 둘째자리까지 출력, 반올림)

* dt.datyofweek는 월화수목금토일을 1234567 숫자로 표시

In [10]:
import pandas as pd
import datetime as dt
df = pd.read_csv("./datasets/basic2.csv")
df["Date"]=pd.to_datetime(df["Date"])
df["year"]=df["Date"].dt.year
df["month"]=df["Date"].dt.month
df["days"]=df["Date"].dt.dayofweek
df["days"]=df["days"].apply(lambda x: x>=5,1,0)
ms1 = df[(df["year"]==2022)&(df["month"]==5)&(df["days"]==1)]["Sales"].mean()
ms2 = df[(df["year"]==2022)&(df["month"]==5)&(df["days"]==0)]["Sales"].mean()
print(round((ms1-ms2),1))

3010339.1

### T1-19 시계얼 데이터3
* 주어진 데이터에서 2022년 월별 Sales 합계 중 가장 큰 금액과
2023년 월별 Sales 합계 중 가장 큰 금액의 차이를 절대값으로 구하시오.

* 단 Events컬럼이 '1'인경우 80%의 Salse값만 반영함
(최종값은 소수점 반올림 후 정수 출력)

In [19]:
import pandas as pd
import numpy as np
import datetime as dt
df = pd.read_csv("./datasets/basic2.csv")
def event_sales(x):
    if x['Events'] == 1:
        x['Sales2'] = x['Sales']*0.8
    else:
        x['Sales2'] = x['Sales']
    return x
df=df.apply(lambda x: event_sales(x), axis=1)
df["Date"]=pd.to_datetime(df["Date"])
df["year"]=df["Date"].dt.year
df["month"]=df["Date"].dt.month
df2022=df[df["year"]==2022]
df2023=df[df["year"]==2023]
a1= df2022.groupby(["year","month"])["Sales2"].sum().max()
a2=df2023.groupby(["year","month"])["Sales2"].sum().max()
print(round(np.abs(a1-a2),0))

42473436.0

### T1-20 데이터 병합
* basic1 데이터 중 'f4'를 기준으로 basic3 데이터 'f4'값을 기준으로 병합하고,¶
병합한 데이터에서 r2결측치를 제거한다음,
 
* 앞에서 부터 20개 데이터를 선택하고 'f2'컬럼 합을 구하시오

* dropna(subset=["r2"]) 특정 칼럼에 대해서만 dropna를 진행

In [26]:
import pandas as pd
import numpy as np
df1= pd.read_csv("./datasets/basic1.csv")
df2= pd.read_csv("./datasets/basic3.csv")

combine = pd.merge(left=df1, right=df2, how="left",on="f4")
combine=combine.dropna(subset=["r2"])
sums = combine.iloc[:20]["f2"].sum()
print(sums)

15

### T1-21 구간 분할 
* basic1 데이터 중 'age'컬럼 이상치를 제거하고, 동일한 개수로 나이 순으로 3그룹으로 나눈 뒤 각 그룹의 중앙값을 더하시오
(이상치는 음수(0포함), 소수점 값)

* ~는 뒤에 다음이 해당하지 않는 것을 뽑아낸다.
* 구간 분할은 pd.qcut 사용 pd.qcut(df["age"], q=3, labels=["group1", "group2", "group3"])

In [32]:
df=pd.read_csv("./datasets/basic1.csv")
df=df[~(df["age"]<=0)]
df=df[df["age"]==round(df["age"],0)]
df["range"]=pd.qcut(df["age"], q=3, labels=["group1", "group2", "group3"])
g1=df[df["range"]=="group1"]["age"].median()
g2=df[df["range"]=="group2"]["age"].median()
g3=df[df["range"]=="group3"]["age"].median()

print(g1+g2+g3)

165.0

### T1-22 Time - Series4
* 주어진 데이터(basic2.csv)에서 주 단위 Sales의 합계를 구하고, 가장 큰 값을 가진 주와 작은 값을 가진 주의 차이를 구하시오(절대값)

* 날짜 데이터를 datetime 으로 바꾸고 인덱스로 설정 하는 법: parse_dates=["Date"], index_col=0

* 주 단위로 나누는 법: df.resample("W").sum() 2주 단위는 2W, 월 단위는 M

In [4]:
import pandas as pd
import datetime as dt
import numpy as np
df = pd.read_csv("./datasets/basic2.csv", parse_dates=["Date"], index_col=0)
df_w = df.resample("W").sum()
ma = df_w["Sales"].max()
mi = df_w["Sales"].min()
print(np.abs(ma-mi))

91639050

### T1-23. 중복 데이터 제거 Drop Duplicates
* f1의 결측치를 채운 후 age 컬럼의 중복 제거 전과 후의 'f1' 중앙값 차이를 구하시오
- 결측치는 f1의 데이터 중 내림차순 정렬 후 10번째 값으로 채움
- 중복 데이터 발생시 뒤에 나오는 데이터를 삭제함
- 최종 결과값은 절대값으로 출력

* subset=["age"]

In [22]:
import pandas as pd 
import numpy as np
import datetime as dt
df = pd.read_csv("./datasets/basic1.csv")
df = df.sort_values(by="f1", ascending=False)
df.reset_index(drop=True,inplace=True)
ten = df["f1"].iloc[9]
df["f1"] = df["f1"].fillna(ten)
result1 = df["f1"].median()
df = df.drop_duplicates(subset=["age"])
result2 = df["f1"].median()
print(np.abs(result1-result2))

2.5

### T1-24. Time-Series5 (Lagged Feature) 시차 데이터 생성
* 주어진 데이터(basic2.csv)에서 새로운 컬럼(1일 이전 시차 컬럼)을 만들고, Events가 1이면서 Sales가 1000000이하인 조건에 맞는 새로운 컬럼 합을 구하시오

* shift(1) 이전, shift(-1) 이후

In [25]:
import pandas as pd
import numpy as np
df = pd.read_csv("./datasets/basic2.csv")
df["pv_diff"]=df["PV"].shift(1)
sums = df[(df["Events"]==1) & (df["Sales"]<=1000000)]["pv_diff"].sum()
print(sums)

1894876.0

### MOCK EXAM1 작업형 1 모의고사

* 첫번째 데이터 부터 순서대로 50:50으로 데이터를 나누고, 앞에서 부터 50%의 데이터(이하, A그룹)는 'f1'컬럼을 A그룹의 중앙값으로 채우고, 뒤에서부터 50% 데이터(이하, B그룹)는 'f1'컬럼을 B그룹의 최대값으로 채운 후, A그룹과 B그룹의 표준편차 합을 구하시오


* 'f4'컬럼을 기준 내림차순 정렬과 'f5'컬럼기준 오름차순 정렬을 순서대로 다중 조건 정렬하고나서 앞에서부터 10개의 데이터 중 'f5'컬럼의 최소값 찾고, 이 최소값으로 앞에서 부터 10개의 'f5'컬럼 데이터를 변경함. 그리고 'f5'컬럼의 평균값을 계산함

* 'age' 컬럼의 IQR방식을 이용한 이상치 수와 표준편차*1.5방식을 이용한 이상치 수 합을 구하시오

In [5]:
# 1번문제
import pandas as pd
df=pd.read_csv("./data/basic1.csv")
a= df[:int(len(df)*0.5)]
b=df[int(len(df)*0.5):]
a=a["f1"].fillna(a["f1"].median())
b=b["f1"].fillna(b["f1"].max())
astd= a.std()
bstd=b.std()
print(round((astd+bstd),2))

42.0

In [20]:
# 2번문제
dfs=df.sort_values(by=["f4", "f5"], ascending=[False, True]).reset_index(drop=True)
df10= dfs.head(10)
mins= df10["f5"].min()
df.iloc[:10,7]=df10["f5"].apply(lambda x: mins)
means = df["f5"].mean()
print(round(means,2))

53.66

In [60]:
# 3번문제
import pandas as pd
df=pd.read_csv("./datasets/basic1.csv")
q1= df["age"].quantile(0.25)
q3=df["age"].quantile(0.75)
mean=df["age"].mean()
std = df["age"].std()*1.5
iqr= q3-q1
out1=q1-1.5*iqr
out2=q3+1.5*iqr
min_out = mean - std
max_out = mean + std
out3=mean-std
out4=mean+std
outlier= sum((df["age"]<out1) | (df["age"]>out2))
outlier2 =sum((df["age"]<min_out) | (df["age"]>max_out))
print(outlier+outlier2)

14

### 마케팅 응답 고객들의 나이를 10살 단위로 변환 했을 때, 가장 많은 인원을 가진 나이대는? (0~9 : 0 , 10~19 : 10)

In [8]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')
result = (df["age"]//10*10).value_counts().index[0]
print(result)

30

In [12]:
results = df[(df["age"]>=25) & (df["age"]<29)&(df["housing"]=="yes")].shape[0]
print(results)

504

In [43]:
df["age"].replace(2,10,inplace=True)
df

       id    age   city    f1  f2   f3    f4         f5
0    id01   10.0  seoul   NaN   0  NaN  ENFJ  91.297791
1    id02    9.0  seoul  70.0   1  NaN  ENFJ  60.339826
2    id03   27.0  seoul  61.0   1  NaN  ISTJ  17.252986
3    id04   75.0  seoul   NaN   2  NaN  INFP  52.667078
4    id05   24.0  seoul  85.0   2  NaN  ISFJ  29.269869
..    ...    ...    ...   ...  ..  ...   ...        ...
95   id96   92.0     경기  53.0   1  NaN  ENTJ  52.667078
96   id97  100.0     경기   NaN   0  NaN  INFP  67.886373
97   id98   39.0     경기  58.0   2  NaN  INFP  98.429899
98   id99    1.0     경기  47.0   0  NaN  ESFJ  97.381034
99  id100   47.0     경기  53.0   0  vip  ESFP  33.308999

[100 rows x 8 columns]

### 3회 기출유형 작업형

In [14]:
# 1번
df= pd.read_csv("./data/t1-data2.csv", index_col='year')
dff=df.loc["2022년"].median()
dffs=sum(df.loc["2022년",:]>dff)
print(dffs)

50

In [19]:
df= pd.read_csv("./data/t1-data1.csv")
df=df.dropna(subset=["f1"])
df60=df[:int(len(df)*0.6)]
df75=df60["f1"].quantile(0.75)
print(df75)

77.25

In [22]:
df= pd.read_csv("./data/t1-data1.csv")
dff=pd.DataFrame(df.isnull().sum(), columns=["cnt_null"])
dff.sort_values("cnt_null", ascending=False,inplace=True)
print(dff.index[0])

f1